<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="/celebrities/create" class="add-cel">Add new Celebrity</a>
<br>
<a href="/celebrities/celebrities" class="add-cel">All Celebrities</a>
<br>
<a href="/movies/create" class="new-movie">Add New Movie</a>
<br>
<a href="/movies/movies" class="new-movie">All movies</a>